@model IEnumerable<Prueba002.Models.dbModels.DetalleCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.IdCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdCompra , idp=item.IdProducto }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdCompra , idp=item.IdProducto }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdCompra , idp=item.IdProducto })
            </td>
        </tr>
}
    </tbody>
</table>
